body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    height: 100vh;
}

.container .navegacao {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.container .navegacao .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .navegacao .logo img {
    width: 80px;
}

.container .navegacao .links {
    display: flex;
    align-items: center;
    gap: 60px;
}

.container .navegacao .links nav ul {
    display: flex;
    gap: 30px;
}

.container .navegacao .links button {
    border: none;
    background-color: transparent;
    margin-right: 40px;
}

.container .navegacao .links button i {
    font-size: 20px;
}

.container main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
}

.container main .esquerda {
    width: 50%;
    height: 100%;
}

.container main .esquerda img {
    width: 100%;
    height: 100%;
}

.container main .direita {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container main .direita .secao-1 span {
    background-color: #BA68C8;
    padding: 10px 5px;
    border-radius: 50px;
    color: white;
}

.container main .direita .secao-2 .botoes {
    display: flex;
    gap: 10px;
}

.container main .direita .secao-2 .botoes .botao {
    padding: 10px;
    border-radius: 10px;
}

.container main .direita .secao-2 .botoes .primario {
    border: none;
    background-color: #BA68C8;
    transition: all 500ms ease;
}

.container main .direita .secao-2 .botoes .primario:hover {
    background-color: #b52fcd;
}

.container main .direita .secao-2 .botoes .primario a {
    color: white;
}

.container main .direita .secao-2 .botoes .secundario {
    border: 1px solid transparent;
    background-color: transparent;
    transition: all 500ms ease;
}

.container main .direita .secao-2 .botoes .secundario a {
    color: #BA68C8;
}

.container main .direita .secao-2 .botoes .secundario:hover {
    border: 1px solid #BA68C8;
}

.container footer {
    display: flex;
}

.container footer .direito {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-right: 20px;
}

.container footer .esquerdo {
    width: 50%;
}

.container footer .direito .redes-sociais {
    display: flex;
    gap: 10px;
}

.container footer .direito .redes-sociais i {
    font-size: 30px;
}